RBSYNC_API_BASE_URL=http://127.0.0.1:8765
RBSYNC_SERVICE_PORT=8765
RBSYNC_REKORDBOX_DATABASE_DIR=/Users/adriendidot/Library/Pioneer/rekordbox
RBSYNC_STORAGE_ROOT=/Users/adriendidot/Library/CloudStorage/Dropbox-CloudOptionDJteam/Jockey Tricolore/Musique
